<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<h2>Register</h2>

<form id="registerForm">
  <label for="userName">Username:</label><br>
  <input type="text" id="userName" name="userName"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Submit">

  <div> Already have an account?
    <a class="nav-link active" aria-current="page" th:href="@{/login}">Go login!</a>
  </div>
</form>

<script>
  document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    var username = document.getElementById('userName').value;
    var password = document.getElementById('password').value;

    fetch('/users/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ userName: username, password: password })
    }).then(function(response) {
      if (response.ok) {
        window.location.href = "/login";
        return response.json();
      } else {
        throw new Error('Error: ' + response.statusText);
      }
    }).then(function(responseJson) {
      alert(responseJson.message);
    }).catch(function(error) {
      console.log('Error:', error);
      alert('Unable to register. Please try again later.');
    });
  });
</script>
</body>
</html>