<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
<div class="px-4 sm:px-0">
    <a class="navbar-brand" th:href="@{/homePage}">Homepage</a>
</div>
<h2>Change Password</h2>
<form id="change-password-form">
    <div>
        <label for="userName">User Name:</label>
        <input type="userName" id="userName" name="userName" required>
    </div>
    <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit">Change Password</button>
</form>

<script> document.getElementById('change-password-form').addEventListener('submit', function(event) {
    event.preventDefault();  // Prevent form from submitting normally

    var userName = document.getElementById('userName').value;
    var newPassword = document.getElementById('newPassword').value;
    var confirmPassword = document.getElementById('confirmPassword').value;

    if (newPassword !== confirmPassword) {
        alert('New passwords do not match. Please try again.');
        return;
    }

    // Make a POST request to your server to change the password
    fetch('users/updatePassword', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            userName: userName,
            newPassword: newPassword,
        }),
    })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Password changed successfully!');
            } else {
                alert('Error: ' + data.message);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
});
</script>
</body>
</html>
