<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myDemo.demo.mapper.UserDetailMapper">

    <resultMap id="BaseResultMap" type="com.myDemo.demo.entity.User">
        <id column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findUserByName" resultType="com.myDemo.demo.entity.User">
        SELECT *
        FROM users
        WHERE userName = #{userName}
    </select>

    <insert id="insert" parameterType="com.myDemo.demo.entity.User">
        INSERT INTO users(userName, password) VALUES(#{userName}, #{password})
    </insert>

    <update id="updatePassword">
        UPDATE users SET password = #{password} WHERE userName = #{userName}
    </update>

    <select id="findAllUsers" resultType="com.myDemo.demo.entity.User">
        SELECT * FROM users
    </select>
</mapper>
